In [25]:
import pandas as pd

In [26]:
data1 = pd.read_csv('./data/Dataset_01.csv')

In [27]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TV            4562 non-null   float64
 1   Radio         4568 non-null   float64
 2   Social_Media  4566 non-null   float64
 3   Influencer    4572 non-null   object
 4   Sales         4566 non-null   float64
dtypes: float64(4), object(1)
memory usage: 178.7+ KB

In [28]:
data1.isna().sum().sum()

26

In [29]:
data1.columns

Index(['TV', 'Radio', 'Social_Media', 'Influencer', 'Sales'], dtype='object')

In [30]:
features = ['TV', 'Radio', 'Social_Media','Sales']

In [31]:
q2 = data1[features].corr()
q2

                    TV     Radio  Social_Media     Sales
TV            1.000000  0.869460      0.528168  0.999497
Radio         0.869460  1.000000      0.607452  0.869105
Social_Media  0.528168  0.607452      1.000000  0.528906
Sales         0.999497  0.869105      0.528906  1.000000

In [32]:
q2 = q2.drop('Sales')['Sales'].abs().max()
round(q2,4)

0.9995

In [34]:
features = ['TV', 'Radio', 'Social_Media']

In [35]:
q3 = data1.dropna()

In [36]:
q3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4546 entries, 0 to 4571
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TV            4546 non-null   float64
 1   Radio         4546 non-null   float64
 2   Social_Media  4546 non-null   float64
 3   Influencer    4546 non-null   object
 4   Sales         4546 non-null   float64
dtypes: float64(4), object(1)
memory usage: 213.1+ KB

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
model = LinearRegression().fit(q3[features],q3.Sales)

In [42]:
model.coef_.max()

3.5625696271199097